{
  "aws": {
    "profileApprovedList": [
      "default",
      "sandbox"
    ],
    "regions": "us-east-1,us-east-2",
    "resources": "alb,apiGatewayResource,apiGatewayRestApi,apiGatewayStage,appSync,asg,billing,cognitoIdentityPool,cognitoUserPool,cloudfront,cloudwatch,ebs,ec2Instance,eip,elb,igw,kinesisFirehose,kinesisStream,kms,lambda,nat,networkInterface,route53HostedZone,route53Record,routeTable,sg,vpc,sqs,s3"
  },
  "cloudGraph": {
    "storageConfig": {
      "host": "localhost",
      "port": "8997",
      "scheme": "http"
    },
    "versionLimit": "3",
    "queryEngine": "playground",
    "port": "5555"
  }
}